@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
  font-family: 'Inter', sans-serif;
}

body {
  color: #e7e8e8;
  background: #070707;
  background-image: url(../assets/images/home_bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.item-card {
  min-width: 23rem;
  max-width: 23rem;
  min-height: 28rem;
  max-height: 28rem;
  margin: 0.5rem 1rem;
}

.item-card h4 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
